<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deadlock Detection History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Deadlock Detection History</h1>
        <nav>
            <a href="/">Home</a> | <a href="/history">View History</a>
        </nav>
    </header>
    <main>
        <h2>Previous Detections</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Processes (n)</th>
                    <th>Resources (m)</th>
                    <th>Result</th>
                    <th>Suggestions</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                <tr>
                    <td>{{ entry[0] }}</td>
                    <td>{{ entry[1] }}</td>
                    <td>{{ entry[2] }}</td>
                    <td>{{ entry[6] }}</td>
                    <td id = "suggeInHistory"><p>{{ entry[7] | safe }}</p></td>
                    <td>{{ entry[8] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <fotter>
    </fotter>
</body>
</html>
